@model Nunit_Demo.Web.Models.AppViewModel

@{
    ViewBag.Title = "Serversncode Nunit Demo app";
}

@foreach (var oProvider in Model.providers)
{
    <div class="row">
        <div class="col-md-6">
            <h2>@oProvider.Provider_Name_VC</h2>
            <p>
                @oProvider.Current_Status_VC
            </p>
        </div>
    </div>
  
}