@model Nunit_Demo.Web.Models.AppViewModel

@{
    ViewBag.Title = "Serversncode Nunit Demo app";
}

<h1>Serversncode</h1>
<p>
    This application is to demo unit tests and is deployed using Visual Studio Team services code is triggered from GitHub and then built in VSTS when the build succeeds it is deployed to Azure. To learn more <a href="https://serversncode.com/" target="_blank">Check out my blog</a>
</p>
@foreach (var oProvider in Model.providers)
{
    <div class="row">
        <div class="col-md-6">
            <h2>@oProvider.Provider_Name_VC</h2>
            <p>
                @oProvider.Current_Status_VC
            </p>
        </div>
    </div>
  
}